{% extends "theme.html" %} 
{% block body %}
<div class="container">
  <div class="col-lg-12">
    <h2>
      Coursematerial
    </h2>
    <p>It is in differenent ways useful. 
      Read the following questions and if the one answer of them is »yes«:</p>
    <ul>
      <li>You will take part on the competition?</li>
      <li>You are a beginner programming with Python or/and Blender?</li>
      <li>You are a teacher/tutor and use Python in your courses?</li>
    </ul>
    <p>Than the following link has useful information and material …    </p>
    <p>
      <a class="btn btn-lg btn-primary" 
	 href="http://pymove3d.sudile.com" 
	 role="button">... startpage of coursematerial</a>
    </p>
  </div>
</div>

{% endblock %}
