{% extends "theme.html" %} 
{% block body %}
<div class="container">
 <div class="col-lg-12">
     <h2>Termine</h2>
     <table class="table table-striped">
         <tbody>
             <tr>
                 <td><b>Datum</b></td>
                 <td><b>Ort</b></td>
                 <td><b>Aktivität</b></td>
             </tr>
             <tr>
                 <td>13.-14.03.2014</td>
                 <td>Chemnitz (Linuxtag)</td>
                 <td>Kurs/Workshop</td>
             </tr>
             <tr>
                 <td>29.-30.03.2014</td>
                 <td>Köln</td>
                 <td>Barcamp</td>
             </tr>
             <tr>
                 <td>01.05.2014</td>
                 <td>-</td>
                 <td>Einsendeschluss</td>
             </tr>
             <tr>
                 <td>21.07. - 27.07.2014</td>
                 <td>Berlin (EuroPython 2014)</td>
                 <td>Preisverleihung</td>
             </tr>
             <tr>
                 <td></td>
                 <td></td>
                 <td></td>
             </tr>
             <tr>
                 <td></td>
                 <td></td>
                 <td></td>
             </tr>
         <tbody>
     </table>
     
     
 </div>
</div>
{% endblock %}
