{% extends _("theme.html") %}
{% block jumbotron %}
<!-- default jumbotron -->
 {% include _("en/jumbotron-default.html") %}
{% endblock %}
{% block body %}
<div class="module module-gallery">
	<!--img src="static/images/python_blender.jpg" /-->
	<div class="container">
		<div class="col-md-6 col-yellow">
			<div class="module-content">
						<h1 class="header" style="color:white;padding-top: 45px;margin-bottom:30px;">Der Python Wettbewerb für Mädchen & Jungen ab 13 Jahren</h1>
			<h4 class="" style="color:white;">3D Objekte mit Python steuern 6 bewegen</h4>
				<button type="button" class="btn btn-default">Wettbewerbinformationen</button>
			</div>
		</div>
	</div>

</div>

<div class="module module-course">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="module-cite text-center">
			<h1>Blender und Python sind einfach genial, endlich fun, funf, fun beim programmieren</h1>
			<p class="pull-right">__Florian, Berlin</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="">
				<div class="module-heading">
					<h3 class="module-title">Einsendeschluss</h3>
				</div>
				<div class="module-body">
					<ul>
						<li>1. Mai 2014</li>
							<li>Anmelden</li>
					</ul>
				</div>
			</div>

			<div class="">
				<div class="module-heading">
					<h3 class="module-title">Folgen Sie uns auch auf</h3>
				</div>
				<div class="module-body">
					<ul>
						<li><a href="">Twitter</li>
						<li><a href="">Facebook</li>
						<li><a href="">Google+</li>
						<li><a href="">YouTube</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-sm-6">
			<div class="">
				<div class="module-heading">
					<h3 class="module-title">Python bewegt die Welt</h3>
				</div>
				<div class="module-body">
					<ul>
						<li>Python ist eine moderne Programmiersprache, die sich für fast jedes Anwendungsgebiet in
							der Softwareentwicklung eignet. </li>
							<li>Python ist dynamisch und objektorientiert und von Anfang an auf den einfachen Einstieg hin
								entwickelt worden.</li>
								<li>Python wird weltweit in vielen der bekanntesten Software Projekte eingesetzt.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!-- course -->

{% endblock %}

