{% extends "theme.html" %} 
{% block body %}
<div class="container">
    <div class="col-lg-12">
        <div class="section">
            <h1>Hinweise zur Erstellung der Unterlagen</h1>
            <p>Hier insbesondere zum Vortrag und zur Mitschrift.</p>
            <div class="section">
                <h2>Tipps zum Aufbau des Inhalts</h2>
                <p>Das sind höchstens fünf Folien. Siehe auch Hinweise auf: <a class="reference external" href="http://www.methopedia.eu/de/collection/lightning-talk">http://www.methopedia.eu/de/collection/lightning-talk</a>.</p>
                <p>Die wichtigsten Folien sind:</p>
                <ul class="simple">
                    <li>Persönliche Infos, Vorstellung (die erste)</li>
                    <li>Zusammenfassung des Ergebnisses (die letzte).</li>
                    <li>Hierfür solltest Du mind. eine Minute einplanen.</li>
                    <li>Dann sind die restlichen zwei Minuten für die anderen Folien frei einteilbar.</li>
                </ul>
                <p>Wenn etwas mit zwei nicht so vollgestopften Folien besser verständlich ist, nimm zwei statt einer. Der Vorteil muss erkennbar sein. Weniger ist mehr!</p>
                <p>Mit einer Folie ist dasselbe gemeint wie das Zeigen einer Animation auf einer Folie!</p>
            </div>
            <div class="section">
                <h2>Der Vortrag</h2>
                <p>Der länger ist in Ordnung. Nur eher nicht eine Minute und auch nicht deutlich über fünf Minuten. Wenn alles überzeugend in einer Minute untergebracht ist, das für uns dann verständlich bleibt, sind wir damit natürlich zufrieden, es ist sogar eine besondere Leistung.</p>
            </div>
            <div class="section">
                <h2>Eine Überlegung wert:</h2>
                <ul class="simple">
                    <li>Immer in die Lage des Betrachters/Zuhörers versetzen.</li>
                    <li>Versteht Dich jemand, der Dich nicht kennt? Er kann hier nicht in einen fremden Kopf sehen und Fragen stellen.</li>
                    <li>Holst Du ihn ab und nimmst ihn mit?</li>
                </ul>
            </div>
            <div class="section">
                <h2>Gliederungsbeispiel im Detail</h2>
                <p>Hier eine beispielhafte Gliederung, wie so etwas aufgebaut sein kann. Andere Konzepte sind ebenfalls geeignet.</p>
            </div>
            <div class="section">
                <h2>Folie 1:</h2>
                <ul class="simple">
                    <li>Titel des Projektes und Vorstellung von dir selber/ eurem Team</li>
                    <li>Angaben zur Person</li>
                    <li>Angaben zum Ort/Schule</li>
                </ul>
            </div>
            <div class="section">
                <h2>Folie 2:</h2>
                <ul class="simple">
                    <li>Zielsetzung der Projektidee skizzieren in 5 bis höchstens 7 Stichpunkten</li>
                    <li>Warum hast Du die eingereichte Lösung gewählt?</li>
                </ul>
            </div>
            <div class="section">
                <h2>Folie 3:</h2>
                <ul class="simple">
                    <li>Besonderheiten Deines Programms</li>
                    <li>Eigenschaften</li>
                    <li>Abbildungen</li>
                    <li>Code Schnipsel</li>
                </ul>
            </div>
            <div class="section">
                <h2>Folie 4:</h2>
                <ul class="simple">
                    <li>Beschreibung im Detail</li>
                    <li>Hinweise zur Ausführung Deines Programms</li>
                    <li>Darstellung der Vorteile und der Grenzen der Steuerung mittels Python.</li>
                </ul>
            </div>
            <div class="section">
                <h2>Folie 5:</h2>
                <ul class="simple">
                    <li>Gib einen Ausblick darauf wo Deine Projektidee eingesetzt werden könnte</li>
                    <li>z.B. in einem Spiel, Film, Daumenkino, technische Lösung, Modell usw.</li>
                    <li>Zwei Stichpunkte für Beispiele reichen.</li>
                </ul>
            </div>
            <div class="section">
                <h2>Nicht vergessen:</h2>
                <p>Die Projektbeschreibung muss auch als ausformulierten Text eingereicht werden!
                Du kannst Dich am Vortrag orientieren und bei Bedarf ins Detail gehen.
                Trenne eine einführende Übersicht am Anfang von den Details.
                Wenn man die Details liest, kennt man dann bereits den Zusammenhang.</p>
            </div>
            <div class="section">
                <h2>Alternative Präsentation</h2>
                <p>Über <a class="reference external" href="http://sketchfab.com">http://sketchfab.com</a> (eine Registrierung ist notwendig), das Ergebnis sieht dann wie in dem folgendem Beispiel gezeigt aus. Bedenke, das Internetverbindungen in Präsentationen immer kritisch sind. Es wäre schade, wenn genau im Vortrag nichts gezeigt werden kann.
                In diesem Fall gilt: Offline ist besser als Online!</p>
                <div class="section">
                    <h3>Upload: Sketchfab I</h3>
                    <p>kamerafahrt-test1.blend (<a href="http://sketchfab.com/show/7J6oYEcDfx7xp9lS18CKK1mFrAh" title="View this on Sketchfab" target="_blank">Klicken für eine 3D-Ansicht in neuem Fenster...</a>)</p></div>
                <div class="section">
                    <h3>Upload: Sketchfab II</h3>
                    <iframe frameborder="0" height="360" width="640"
                        allowFullScreen webkitallowfullscreen="true"
                        mozallowfullscreen="true"
                        src="http://skfb.ly/m4jh21cba?autostart=0&transparent=0&autospin=0&controls=1">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
