html,
body {
  height: 100%;
}
body {padding-top:8px;border-top:8px solid  @blue;}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
/* Typo
------------------------------------ */
@font-face {
    font-family: 'gandhi_serifbold';
    src: url('../fonts/gandhiserif-bold-webfont.eot');
    src: url('../fonts/gandhiserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gandhiserif-bold-webfont.woff') format('woff'),
         url('../fonts/gandhiserif-bold-webfont.ttf') format('truetype'),
         url('../fonts/gandhiserif-bold-webfont.svg#gandhi_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gandhi_serifregular';
    src: url('../fonts/gandhiserif-regular-webfont.eot');
    src: url('../fonts/gandhiserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gandhiserif-regular-webfont.woff') format('woff'),
         url('../fonts/gandhiserif-regular-webfont.ttf') format('truetype'),
         url('../fonts/gandhiserif-regular-webfont.svg#gandhi_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Utilities
------------------------------------ */
#wrap > .container {
  /*padding: 60px 15px 0;*/
}
img {
     vertical-align: middle;
     border: 0;
     page-break-inside: avoid;
     max-width: 100% !important;
     }
/* Navigation
------------------------------------ */
.navbar-nav > li:hover {
//border-top:8px solid @yellow;position: relative;top: -17px;
}
.navbar-nav > li > a {
 // margin-top: 48px;
  font-size: 18px;
}
.nav > li > a:hover, 
.nav > li > a:focus {
//margin-top: 54px;
}
.navbar {
margin-bottom: 0px;
border-bottom:3px solid #f0f0f0;
}
/* Module
------------------------------------ */
.module-gallery {
    background: url('../images/python_blender.jpg') no-repeat 0px -200px;
    background-size: 2000px 884px;
}
.module-gallery .module-content {
    height: 440px;
    position: relative;
}
.col-yellow {background:@yellow-light;}
.module-course {background-color: #f5f5f5;}
/* Footer
------------------------------------ */ 
#footer {
  height: 60px;
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
.carousel-control.left {
  background-image: none;
  filter: 0;
}
.carousel-control.right {
  background-image:none;
  filter: 0;
}
.module-imprint {border-top:1px solid #f5f5f5; padding:20px 0;}