body {background-color: #e9e2d0;}

h1 {text-align: center;}
.navbar-brand {font-weight: 800; font-size: 24px;}
.container {

	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	border: 1px solid #9f998c;
/* for the Epidemic */	
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;}}
	
.dropdown-menue {
background-color: #9f9a8b;}
.navbar {
  background-color: #e9e2d0;
  border: 1px solid transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  
  background-color: transparent;
  border-bottom: 1px solid #bf1339;
}

.jumbotron {

  background-color: #01e9ff;
  /*background-color: #ce4b68;*/
  /*background-color: #9f998c;*/
}

.flags {
  padding: 5px 0 0 5px;
  float: right;}