{% extends "theme.html" %} 

{% block jumbotron %}
<!-- default jumbotron -->
 {% include "jumbotron-coursematerial.html" %}
{% endblock %}


{% block body %}
<h1>
Course material
</h1>
<p>If you answer one of the following questions with "YES":</p>
<ul>
  <li>You want's to take part in the competition</li>
  <li>You are a beginner using blender and python?</li>
  <li>You are a teacher using this material in your course?</li>
</ul>
<p> Then the next link is for you...
  <a class="btn btn-lg btn-primary" href="http://vocword.org" role="button">Start</a>
</p>

{% endblock %}
