{% extends "theme.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="page-header">
        <h1>Nächstes User Group Treffen</h1>
      </div>
      <div class="well">
        <p class="lead">{{ format_date(next_meeting) }}</strong></p>
        <p><a class="btn btn-primary" href="{{ url_for('join') }}" role="button">Infos (Programm, Anfahrt, etc.) &raquo;</a></p>
      </div>
    </div>

    <div class="col-md-6">
      {{ description | safe }}
    </div>
  </div>
</div>
{% endblock %}
