<div id="footer">
  <div class="container">
    <div class="text-center">
      <a href="http://python.org/"  
	 title="Python Programming Language"><img src="/static/images/python-logo.png" alt="python-logo" /></a>
      <h3>Sponsors</h3>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide">
	  
          <!-- Carousel items -->
          <div class="carousel-inner" style="padding-left: 200px; padding-right:200px;">
            <div class="item active">
              <div class="row">
                <div class="col-sm-3"><a href="http://www.linux-systemhaus.de/"><img src="/static/images/sponsors/linux_systemhaus_schulz.png" 
										     alt="" title="" class="img-responsive" /></a>
                </div>
                <div class="col-sm-3"><a href="http://www.blender.org/"><img src="/static/images/sponsors/blender.png" 
									     alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3"><a href="http://python-verband.org/"><img src="/static/images/sponsors/pysv.png" 
										alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3"><a href="http://www.galileo-press.de/"><img src="/static/images/sponsors/sponsor-galileo_press-anim.gif" 
										  alt="Image" class="img-responsive"></a>
                </div>
              </div>
              <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
              <div class="row">
                <div class="col-sm-3"><a href="http://www.medialinx-gruppe.de/"><img src="/static/images/sponsors/sponsor-medialinx_ag.png" 
										     alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3"><a href="http://www.oreilly.de/"><img src="/static/images/sponsors/sponsor-oreilly.png" 
									    alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3"><a href="http://sudile.de/"><img src="/static/images/sponsors/sudile.jpg" 
								       alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3"><a href="http://trabucchi.de/"><img src="/static/images/sponsors/trabucchi.png" 
									  alt="Image" class="img-responsive"></a>
                </div>
              </div>
              <!--/row-->
            </div>
            
            <!--/item-->
            <div class="item">
              <div class="row">
                <div class="col-sm-3"><a href="http://www.evenios.com/"><img src="/static/images/sponsors/evenios.png" 
									     alt="Image" class="img-responsive"></a>
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                </div>
              </div>
              <!--/row-->
            </div>
            <!--/item-->
          </div>
          <!--/carousel-inner--> 
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
        <!--/myCarousel-->
      </div>
    </div>
    <div class="text-center module-imprint">
      <ul class="list-inline">
        <li><a href="/privacy">Datenschutzerklärung</a></li>
        <li><a href="/imprint">Impressum</a></li>
      </ul>
    </div>
  </div>
</div>
