<div id="footer">
  <div class="container module-footer">
    <!-- <div class="headline text-center"> -->
    <!--   <h3>Sponsors</h3> -->
    <!-- </div> -->
    <div class="container">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide">

          <!-- Carousel items -->
          <div class="carousel-inner col-md-8 col-md-offset-2">
            <div class="item active">
              <div class="row">
                <div class="col-sm-3"><a href="http://www.blender.org/">
                  <a href="https://www.python.org/"><img
                      src="/static/images/carousel/python.png"
                      alt="Logo Python" class="img-responsive sponsor"></a>
                </div>
                <div class="col-sm-3">
                  <a href="http://python-verband.org/"><img
                      src="/static/images/carousel/pysv.png"
                      alt="Logo PySV" class="img-responsive sponsor"></a>
                </div>
                <div class="col-sm-3">
                  <a href="http://pymove3d.pysv.org/"><img
                      src="/static/images/carousel/pymove3d.png"
                      alt="Logo Pymove 3D" class="img-responsive sponsor"></a>
                </div>
              </div><!--/row-->
            </div><!--/item-->

            <div class="item">
              <div class="row">
                <div class="col-sm-3">
                  <a href="http://pyvideo.org/">
                    <div class="img-responsive sponsor" style="font-size:45px;">
                      PyVideo
                    </div>
                  </a>
                </div>
                <div class="col-sm-3">
                  <a href="http://www.pyddf.de/"><img
                      src="/static/images/carousel/pyddf.png"
                      alt="Logo Python Meeting Düsseldorf"
                      class="img-responsive sponsor"></a>
                </div>
                <div class="col-sm-3">
                  <a href="http://wiki.python-forum.de/pybonn/">
                    <div class="img-responsive sponsor" style="font-size:45px;">
                      pybonn
                    </div>
                  </a>
                </div>
              </div><!--/row-->
            </div><!--/item-->

            <div class="item">
              <div class="row">
                <div class="col-sm-3">
                  <a href="http://pythoncamp.de"><img
                      src="/static/images/carousel/pycamp.png"
                      alt="Logo PythonCamp" class="img-responsive sponsor">
                  </a>
                </div>
              </div><!--/row-->
            </div><!--/item-->

          </div><!--/carousel-inner-->
          <a class="left carousel-control hidden-sm" href="#myCarousel"
              data-slide="prev">‹</a>
          <a class="right carousel-control hidden-sm" href="#myCarousel"
              data-slide="next">›</a>
        </div>
      </div> <!--/myCarousel-->
    </div>

    <div class="text-center module-imprint">
      {# note: temporarily disabled
      <ul class="list-inline">
        <li><a href="/privacy">Datenschutzerklärung</a></li>
        <li><a href="/imprint">Impressum</a></li>
      </ul>
       #}
    </div>

  </div>
</div>
