{% extends "theme.html" %}
{% block body %}
<div class="container">
    <div class="col-md-6">
      <div class="row">
      <h2>
        {{ competion }}
      </h2>
      <p>
          {{ introduction }}
      </p>


      {% for line in article %}
         <p>{{ line }}</p>
      {% endfor %}
          <p><a class="reference external" href="http://blog.zeit.de/dev/einfuehrung-programmieren-python-blender">Blogeintrag zum Kurs</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="module-thumbnail">
              <img class="img-responsive img-thumbnail" src="/static/images/archive/competitions/2013/contest2013a.jpg" alt="Anne" />
              <p class="text-primary"><em>{{ game_of_life }}</em></p>
              <img class="img-responsive img-thumbnail" src="/static/images/archive/competitions/2013/contest2013b.jpg" alt="Valentin" />
              <p class="text-primary"><em>{{ skat_simulation }}</em></p>
          </div>
          <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
          <iframe frameborder="0"
          src="//www.youtube.com/embed/BfEcIAzdv9M"
          allowfullscreen="allowfullscreen">
        </iframe>
         <p class="text-primary"><em>{{ awards }}</em></p>
       </div>
      </div>
</div>
{% endblock %}
