{% extends "theme.html" %}
{% block body %}
<div class="module module-prizes">
  <!--img src="static/images/python_blender.jpg" /-->
  <div class="container">
    <div class="col-md-6 col-yellow">
      <div class="module-content">
  <h1 class="header" style="color:white;padding-top: 45px">Einsendeschluss 1. Mai 2014</h1>
  <h4 class="" style="color:white;">Die Preisträger erhalten eine Einladung
mit Elternteil zur Preisverleihung
auf der EuroPython nach Berlin am 21.-27. Juli 2014.</h4>
    <h4 class="" style="color:white;margin-bottom:60px;">Weitere Informationen auch unter: <a style="color:white;text-decoration:underline" href="https://ep2014.europython.eu/" class="">EuroPython 2014</a>
</h4>
      </div>
    </div>
  </div>  
</div>
<div class="container">

  <div class="col-md-6">
    <div class="row">
     <div class="document" id="preise">
      <h1 class="title">Preise</h1>
      <ul class="simple">
        <li>Professioneller Kurs an der Python-Academy in Leipzig</li>
        <li>Besuch der EuroPython 2014 Konferenz in Berlin</li>
        <li>ein RaspberryPi</li>
        <li>PiFace für RaspberryPi</li>
        <li>Arduino</li>
        <li>Bücher</li>
        <li>Zeitschriften</li>
        <li>Gutscheine</li>
      </ul>
    </div>
  </div>
</div>
  <div class="col-md-6">
    <div class="row logo-python">
       <a href="/"><img class="logo" src="/static/images/logo-big.png" title="europython 2014" alt="europython 2014" /></a>

    </div>
  </div>
</div>
{% endblock %}